body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 10% 1fr;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: span 2;
  align-items: center;
  background-color: rgb(250, 250, 247);
  max-height: fit-content;
}

h1 {
  font-size: 68pt;
  margin-right: auto;
  font-family: ;
}

h2 {
  margin: 2em;
  font-family: 'Courier New', Courier, monospace;
  font: 700;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
}

#logo img {
  scale: 100%;
  rotate: 90deg;
}
aside {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  background-color: plum;
  margin-left: 16;
}

main {
  background-color: rgb(250, 250, 247);
  flex-direction: column;

  display: flex;
  justify-content: space-around;
  align-items: left;
  font-family: Helvetica, sans-serif;
}

a {
  color: #393939;
}

#section_1 {
  background-color: rgb(250, 250, 247);
  width: 1200px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: repeat(2, 100px);
  display: flexbox;
  flex-wrap: wrap;
  margin: 2em 8em;
  align-items: center;
}

#section_1 > div {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-decoration-color: #000000;
  font-weight: 800;
  padding: 30px;
  margin: 2pt 6pt;
  border: 2.5pt solid #000000;
}

#section_2 {
  background-color: rgb(250, 250, 247);
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(4, 300px);
}

#section_2 > div {
  margin: 0 20px;
}

#section_3 {
  background-color: rgb(250, 250, 247);
  margin: 2em;
  display: grid;
  grid-template-columns: 725px 725px 725px;
  display: flex;
  justify-content: space-evenly;
}

#section_3 > div {
  padding: 30px;
}
